* { 
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info { 
    color: white;
    margin: 10px;
}

button { 
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

button:hover { 
    filter: brightness(0.8);
}

#wrap-card-container { 
    display: flex;
    width: 80%;
    padding: 10px;
    justify-content: start;
    flex-wrap: wrap;
}

.card-container { 
    flex : 0 1 150px;
    margin: 5px;
    height: 200px;
    cursor: pointer;
    border-radius: 0.3em;
    transition: all 0.5s ease-in-out;
}

.card-container:hover { 
    filter: brightness(0.8);
}

.card-container.clicked:hover{
    filter: brightness(1);
}

.card-container.clicked { 
    transform: rotateY(180deg);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
  overflow: hidden;
  animation-timing-function: ease-in-out;
}